@mixin button-reset {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

button {
    & , &:active, &:focus, &:hover {
        @include button-reset;
    }
}

.button {
    &, &:hover, &:focus, &:hover {
      padding: 0.3rem 0.6rem;
      font-size: 0.8rem;
      text-transform: uppercase;
      font-weight: 700;
      border: solid $dark 0.1rem;
    }
}